:root {
    --blood-bag-image-ratio: 210 / 297;
    --blood-bag-size: 20rem;
    --blood-bag-limits-width: 2rem;
    --blood-bag-limits-height: 2px;
}

.location {
    margin-top: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding-bottom: 2rem;
}

.location-header {
    padding-top: 1rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
}

.blood-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blood-bag {
    position: relative;
    background-image: url(/src/assets/images/BloodBag.webp);
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--blood-bag-size);
    width: calc(var(--blood-bag-size) * var(--blood-bag-image-ratio));
}

.blood-bag-filler {
    position: relative;
    background-image: url(/src/assets/images/BloodBagFiller.webp);
    background-repeat: no-repeat;
    background-size: contain;
    height: var(--blood-bag-size);
}

.high-indicator {
    position: absolute;
    width: var(--blood-bag-limits-width);
    height: var(--blood-bag-limits-height);
    background-color: #6DCFF6;
}

.low-indicator {
    position: absolute;
    width: var(--blood-bag-limits-width);
    height: var(--blood-bag-limits-height);
    background-color: #FFBF02;
}

.blood-type {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    user-select: none;
}

.legend {
    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: start;    
}