h1 {
    width: 100%;
    text-align: center;
}

.location-selector {
    width: 100%;
}

select {
    @media (max-width: 767px) {
        width: 100%;
        margin-top: 0.5rem;
    }
    @media (min-width: 768px) {
        width: 20%;
    }
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
    color: #333;
    appearance: none;
    /* Removes default arrow in some browsers */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='5'%3E%3Cpath fill='black' d='M0 0l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 10px 5px;
}